.buttonai {
  cursor: pointer;

  margin-top: 10px;
}
.buttonai:hover {
  font-weight: 600;
  color: blue;
}

.jjj {
  margin-left: 5px;
  color: black;
  margin-top: 5px;
}
.buttonI {
  color: white;
  background-color: #797a7c;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
}
.jjj:hover {
  color: blue;
}
@media only screen and (max-width: 600px) {
  .buttonI {
    font-size: 12px;
  }
}
