.hbutton {
  height: 100%;
  margin: 25px;
  padding: 5px 15px;
  border: none;
  font-size: 24px;
  font-weight: 300;
  border-radius: 8px;
  color: white;
  background-color: #0a82ed;
  cursor: pointer;
  text-align: center;
}
.hbutton:hover {
  background-color: #027ce7;
  font-weight: 400;
}
.bigcontain {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.imgHeader {
  position: absolute;
  z-index: 1;
  width: 800px;
  height: 550px;
}
.headerP {
  width: 15%;
  height: 10%;
  padding: 8px;
  margin-top: 25px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 300;
}
.headerP:hover {
  font-weight: 600;
}
.portfolio {
  font-size: 32px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .hbutton {
    font-size: 16px;
    font-weight: 200;
    border-radius: 8px;
    width: 100%;
  }
  .hbutton:hover {
    font-weight: 300;
  }

  .headerP {
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 200;
  }
  .headerP:hover {
    font-weight: 300;
  }
}
