.buttonai {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #797a7c;
  margin-top: 10px;
}
.buttonai:hover {
  font-weight: 600;
  color: blue;
}

.jjj {
  margin-left: 5px;
  color: black;
  margin-top: 5px;
}
.buttonI {
  background-color: #027ce7;
  padding: 10px 15px;
  font-size: 16px;
}
.jjj:hover {
  color: blue;
}
@media only screen and (max-width: 600px) {
  .buttonI {
    font-size: 12px;
  }
}
